/*
    DEMO STYLE
*/
/*
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}
*/
/*
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
/*
.navbar {
    padding: 5px 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}*/

.navbar1 {    
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 99;
    transition: top 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 4px 0;
}

#painelmenu {
    position: fixed;
    top: 0;
    background-color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem !important;
    z-index: 99;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 9998;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9997;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

/*
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/
.dropdown-toggle1::after {
  display: none;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    
    margin-top: 1vh;
    margin-bottom: 1vh;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 4rem;
    right: 0;
}

/*-------------------------------------------------
litlle menu
--------------------------------------------------- */

/*-------------------------------------------------
    MENSAGE TOAST OS
--------------------------------------------------- */

@media only screen and (min-width: 320px) {
    div.display-os {
        display: -webkit-inline-box;
    }

}

@media only screen and (max-width: 500px) {
    .fontresize {
        font-size: 4vw;
    }
}


/*-------------------------------------------------
    INFO OS
--------------------------------------------------- */

.space-right {
    padding-right: 5px;
    padding-left: 5px;
}

.line-normal {
    line-height: normal;
}
.line0 {
    line-height: 0;
}

.line1 {
    /*vertical-align: middle;*/
    line-height: 1.8;
}

.line2 {
    line-height: 1.3
}

.box-border {
    border: solid 1px black;
    border-radius: 5px;
}

.no-padding {
    padding: 5px;
}

.position-download {
    position: fixed;
    bottom: -15px;
    right: 240px;
}

/*----------------------------------------------------
    Upload Files
------------------------------------------------------ */
.percent {
    position: absolute;
    width: 90%;
    height: 14px;
    z-index: 1;
    text-align: center;
    font-size: 0.8em;
    color: white;
}

.progress-bar {
    width: 100%;
    height: 14px;
    /*border-radius: 10px;*/
    border: 1px solid #ccc;
    transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    background-color: #47748b;
    /*
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;*/
}

.uploaded {
    padding: 0;
    height: 14px;
    transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    background-color: #4b4;
    /*border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial; */
}

.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background-color: #feffec;    
    color: #bbb;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.dropbox span {
    margin-top: 0.9em;
    display: block;
}

.dropbox.not-available {
    background-color: #f88;
}

.dropbox.over {
    background-color: #bfb;
}

/*-----------------------
Especial formato input, select, textarea
------------------------- */

.special {
    width: 100%;
    float: left;
}

.special input, .special textarea, .special select {
    width: 100%;
    border: 2px solid gray;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
}

.special div {
    position: relative;
    overflow: hidden;
}

.special input:valid, .special textarea:valid, .special select:valid {
    background: white;
}

.special input, .special textarea, .special select {
    border-color: grey;
}

.special input + label, .special textarea + label, .special select + label {
    background: gray;
    color: white;
    font-size: 70%;
    padding: 1px 6px;
    z-index: 2;
}

.special label {
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    color: #999;
    padding: 7px 6px;
}

.special textarea {
    display: block;
    resize: vertical;
}

.special.go-botton input , .special.go-botton textarea , .special.go-botton select  {
    padding: 12px 12px 12px 12px;
}

.special.go-button label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.special.go-botton input , .special.go-botton textarea, .special.go-botton select {
    padding: 4px 6px 20px 6px;
}

.special.go-botton input + label , .special.go-botton textarea + label, .special.go-botton select + label {
    top: 100%;
    margin-top: -16px;
}

/* -----------------------
--- card ----
--------------------------*/
/*
flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(180deg);
          transform: rotatey(180deg);
}
.flip .card {
    
    height: 178px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
   
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   
   z-index: 1;
}
.flip .card .back {
    margin-right: 4em;
    margin-left: 4em;
  padding-top: 3%;
  text-align: center;
  -webkit-transform: rotatey(180deg);
          transform: rotatey(180deg);
  position: absolute;
}

.inner{
  margin:0px !important;  
}
*/
/*------------------------------------------------------
--------------------------------------------------------
------------------ NEW LOGIN ---------------------------
-------------------------------------------------------*/

/* BOX LOGIN */
.box{
	position: relative;
	margin: auto;
	height: 410px;
  top: 40px;
	left: 0;
	z-index: 200;
	right: 0;
	width: 22em;
	color:#666;
	border-radius: 3px;
	background: #FFF;
  margin-bottom: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  overflow: hidden;
}

#header{
  background: #009688;
  position: relative;
  height: 100px;
  width: 100%;
  margin-bottom: 2rem;
}

#cont-lock{
  width: 100%;
  height: 65px;
  position: relative;
}

.lock{
  text-align: center;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  line-height: 65px;
  font-size: 28px;
}

#bottom-head{
  position: relative;
  background: #00796b;
  height: 35px;
}

#bottom-head::after{
  content: '';
  width: 0px;
  height: 0px;
  display: block;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 7px solid white;
  border-right: 7px solid rgba(0,0,0,0);
  border-left: 7px solid rgba(0,0,0,0);
  border-top: 7px solid rgba(0,0,0,0);
}

.box h1{
  margin-left: 20px;
  margin-top: 0;
	font-size: 24px;
  font-weight: 300;
  color: #cfd8dc;
  line-height: 35px;
}

.box button{
	background: #cfd8dc;
	border:0;
	color: #009688;
	padding:10px;
	font-size: 1em;
  font-weight: 300;
	width: 80%;
	margin: 1em auto;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 2px;
}

.box button:active{
	background: #009688;
  color: #263238;
}



.box p{
	font-size:14px;
	text-align:center;
}

.loft.group 			  { 
  position:relative; 
  margin-bottom: 1.7em; 
  margin-left: 2.5em;
}

.inputMaterial 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 15em;
  border:none;
  border-bottom:1px solid #757575;
}

.inputMaterial:focus 		{ outline:none;}

/* LABEL ======================================= */

.label{
  color:#999; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ .label 		{
  top:-20px;
  font-size:14px;
  color: #009688;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:17em; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background: #009688; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
  width:50%;
}


/* active state */
.inputMaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#footer-box{
    width: 100%;
    height: 50px;
    background: #00695c;
    position: absolute;
    bottom: 0;    
}

.footer-text{
    color: #cfd8dc;
    margin-top: 1em;
}

.profile-name{
    line-height: 60px;
    left: -70px;
    position: absolute;
    font-family: 'Roboto';
    color: #455a64;
}

.profile-name:hover{
  text-decoration: underline;
}

a:link, a:visited{
  text-decoration: none;
}

/*---------------------------------
-----------------------------------
card-flip
-----------------------------------*/
/*
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.flip-card-front {
background-color: #bbb;
color: black;
z-index: 2;
}

.flip-card-back {
background-color: #2980b9;
color: white;
transform: rotateY(180deg);
z-index: 1;
}
*/

/*-----------------------------------
Nome
-------------------------------------*/

.nomePefil {
    font-size: 1em;
}

@media only screen and (min-width: 340 px) {
    .nomePefil {
        font-size: 0.7em;
    }
}